// ============================PRE-FOOTER============================
section#pre-footer {
    background-color: var(--custom-blue);
    .container {
        @media screen and ( min-width: 992px ) {
            & {
                width: 100%  !important;
            }
        }
    }
    img {
        width: 3.125rem;
        height: 3.75rem;
        
    }

    .wrapper {
        position: relative;
        right: 60%;
        @media screen and ( min-width: 576px ) {
            & {
                right: 0 !important;
            }
        }
    }
}

// ==============================FOOTER==============================
footer {
    font-weight: 400;
    a {
        color: grey;
        font-weight: 500;
        font-size: 0.75rem;
    }
}

h4 {
    margin: 0.625rem 0;
}

li {
    margin: 0.0625rem 0;
}

#logo {
    margin-right: 500px;
    opacity: 0.4;
    width: 400px;
    @media screen and ( min-width: 1200px ) {
        & {
            opacity: 1;
            left: 15%;
            width: 700px;
        }
    }
}

.footer-top {
    background-image: url("../img/footer-bg.jpg");
    background-size: cover;
    }

.footer-bottom {
    background-color: var(--custom-darkgray);
    a {
        border: 1px solid var(--custom-blue);
    }

    #btn-signup {
        background-color: inherit;
        font-weight: 600;
        cursor: pointer;
        border: 2px solid var(--custom-blue);
        &:hover {
            text-decoration: underline;
        }
    }

    .btn-container {
        @media screen and ( min-width: 768px ) {
            & {
                flex-direction: row;
            }
            }
            
        * {
            margin: 0 0.3125rem;
        }
        span {
            color: var(--custom-blue);
        }
        form button {
            background-color: grey;
            color: var(--custom-darkgray);
            font-size: 1rem;
            height: 1.875rem;
            width: 1.875rem;
            border-radius: 50%;
            border: none;
            cursor: pointer;
        }
    }
}