header {
    box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 20%);
    width: 100%;
}

img {
    width: 5rem;
}

a {
    text-decoration: none;
    color: inherit;
    padding: 0 0.3125rem;
}

.active {
    color: var(--custom-blue);
    &:before {
        content: "";
        display: none;
        position: absolute;
        background-color: var(--custom-blue);
        width: 2.1875rem;
        height: 0.1875rem;
        bottom: 0;
        margin: auto;
        @media screen and ( min-width: 992px ) {
            & {
                display: inline-block;
            }
        }
    }
}