@import '~bootstrap/scss/bootstrap';
@import '__header';
@import '__main';
@import '__footer';

* {
    font-family: "Open Sans", sans-serif;
}

:root {
    --custom-blue: #0282f9;
    --custom-gray: #464646;
    --custom-darkgray: #303030;
    --custom-black: #1c1c1c;
  }
